a {
  cursor: pointer;
}
body {
  font-family: "Noto Sans JP", sans-serif;
}
h1 {
  background: #fff0f5;
  color: #0c0904;
  font-family: "Contrail One", cursive;
  letter-spacing: 0.25rem;
  padding: 1rem;
  text-shadow: -3px 3px #ea324e;
}
i {
  color: lightgray;
  margin-left: 0.5rem;
}
p {
  color: #656769;
  margin: 0 auto;
}
a.mapboxgl-ctrl-logo {
  display: none;
}
.mapboxgl-ctrl,
.mapboxgl-ctrl-attrib,
.mapboxgl-compact {
  display: none;
}
.header {
  align-items: stretch;
  box-shadow: 0px 2px 4px 1px rgb(96, 96, 96);
  display: inline-flex;
  margin: 1rem 0 2rem;
}
.header__letter {
  background-color: rgb(238, 200, 206);
  display: flex;
  flex-direction: col;
  font-size: clamp(1rem, 3vw, 2.5rem);
  justify-content: center;
  margin: auto;
  transition: 500ms;
}
.header__letter:hover {
  box-shadow: inset 0px 4px 6px -1px black;
  transition-property: box-shadow;
  transition-duration: 50ms;
}
.image-loader {
  background: none;
  height: 100vh;
  width: 100%;
}
.info-container {
  box-shadow: 0 0.125rem 16px -7px #0c0904;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}
.mapboxgl-ctrl-attrib-inner {
  display: none;
}
.info-container__map {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 1rem 0 0 2rem;
  width: 45%;
}
.info-container__links {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 1rem 0 0 2rem;
  width: 45%;
}
.info-container__links a {
  color: #cbb77e;
  font-family: "Contrail One", cursive;
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  margin: 0.75rem 0 0.5rem 0;
  padding: 0.5rem;
  text-decoration: none;
  width: 80%;
}
.info-container__links a:hover {
  color: #ea324e;
}
.team-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
  width: 90%;
}
.team-page__caption {
  background: #fff0f5;
  font-family: "Contrail One", cursive;
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  margin: 0.75rem 0 0.5rem 0;
}
.team-page__header img {
  object-fit: cover;
  width: 15rem;
}
.team-page__image {
  box-shadow: 0px 2px 4px 2px gray;
  object-fit: cover;
  width: 100%;
}
.teams-container {
  align-items: center;
  box-shadow: 0 0.125rem 16px -7px #0c0904;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 1rem;
  padding: 1rem;
}
.teams-container__logo {
  height: 8rem;
}
.teams-container__logo-container {
  align-items: center;
  background: darkgray;
  box-shadow: 0 0.125rem 0.25rem #0c0904;
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}
.teams-container__logo-container:hover {
  box-shadow: 0 0.25rem 0.5rem #0c0904;
  cursor: pointer;
}
.teams-container__logo-container:active {
  box-shadow: 0 0.25rem 0.5rem #ea324e;
  cursor: pointer;
  transform: scale(0.95, 0.95);
  transition-property: transform;
  transition-duration: 150ms;
}
@media (max-width: 600px) {
  h1 {
    padding: 0.25rem;
  }
  .info-container {
    margin: 0 auto;
    width: 100%;
  }
  .info-container__map,
  .info-container__links {
    padding: 0 1rem;
    width: 100%;
  }
}
/* # sourceMappingURL=index.css.map */
